{{- if .Values.validatingWebhook.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kms-vault-validating-webhook
  namespace: {{ .Release.Namespace }}
spec:
  replicas: {{ .Values.validatingWebhook.replicas }}
  selector:
    matchLabels:
      app: kms-vault-validating-webhook
  template:
    metadata:
      labels:
        app: kms-vault-validating-webhook
    {{- if (default .Values.global.podAnnotations .Values.validatingWebhook.podAnnotations) }}
      annotations: {{ toYaml (default .Values.global.podAnnotations .Values.validatingWebhook.podAnnotations) | nindent 8 }}
    {{- end }}
    spec:
      {{- if .Values.validatingWebhook.affinity }}
      affinity: {{ toYaml .Values.validatingWebhook.affinity | nindent 10 }}
      {{- end }}
      containers:
      - name: kms-vault-validating-webhook
        image: patoarvizu/kms-vault-operator:{{ default .Values.global.imageVersion .Values.validatingWebhook.imageVersion }}
        imagePullPolicy: {{ default .Values.global.imagePullPolicy .Values.validatingWebhook.imagePullPolicy }}
        command:
        - /kms-vault-validating-webhook
        - -tls-cert-file
        - {{ .Values.validatingWebhook.tls.mountPath }}/{{ .Values.validatingWebhook.tls.certFileName }}
        - -tls-key-file
        - {{ .Values.validatingWebhook.tls.mountPath }}/{{ .Values.validatingWebhook.tls.privateKeyFileName }}
        ports:
        - name: https
          containerPort: 4443
        volumeMounts:
        - name: tls
          mountPath: {{ .Values.validatingWebhook.tls.mountPath }}
        env:
        {{- if .Values.aws.iamCredentialsSecrets }}
        {{- toYaml .Values.aws.iamCredentialsSecrets | nindent 8 }}
        {{- end }}
        - name: AWS_REGION
          value: {{ .Values.aws.region }}
        {{- if (default .Values.global.resources .Values.validatingWebhook.resources) }}
        resources: {{ toYaml (default .Values.global.resources .Values.validatingWebhook.resources) | nindent 10 }}
        {{- end }}
      volumes:
      - name: tls
        secret:
          {{- if .Values.validatingWebhook.certManager.injectSecret }}
          secretName: kms-vault-validating-webhook
          {{- else }}
          secretName: {{ .Values.validatingWebhook.tls.secretName }}
          {{- end }}
{{- end }}