version: 2.1

orbs:
  snyk: snyk/snyk@0.0.8

jobs:
  build:
    machine:
        enabled: true
        image: circleci/classic:201808-01
    environment:
      OPERATOR_SDK_VERSION: 0.6.0
      GOPATH: /home/circleci/go
      VAULT_SKIP_VERIFY: 'true'
    working_directory: /home/circleci/go/src/github.com/patoarvizu/kms-vault-operator
    steps:
      - checkout
      - restore_cache:
          keys:
            - kms-vault-operator-golang-cache-{{ checksum "Gopkg.lock" }}
      - run:
          name: Install golang
          command: |
            sudo rm -rf /usr/local/go
            curl -Lo go.linux-amd64.tar.gz "https://dl.google.com/go/go1.11.6.linux-amd64.tar.gz"
            sudo tar -C /usr/local -xzf go.linux-amd64.tar.gz
            mkdir -p ${HOME}/go/bin
            echo 'export PATH="$GOPATH/bin:$PATH"' >> "${BASH_ENV}"
      - run:
          name: Install dep
          command: |
            curl -L https://github.com/golang/dep/releases/download/v0.5.1/dep-linux-amd64 -o ${HOME}/go/bin/dep
            chmod +x ${HOME}/go/bin/dep
      - run:
          name: Install operator-sdk
          command: |
            curl -L https://github.com/operator-framework/operator-sdk/releases/download/v${OPERATOR_SDK_VERSION}/operator-sdk-v${OPERATOR_SDK_VERSION}-x86_64-linux-gnu -o ${HOME}/go/bin/operator-sdk
            chmod +x ${HOME}/go/bin/operator-sdk
      - run:
          name: Install kubectl
          command: |
            curl -Lo kubectl "https://storage.googleapis.com/kubernetes-release/release/v1.12.0/bin/linux/amd64/kubectl"
            chmod +x kubectl
            sudo mv kubectl /usr/local/bin/
            mkdir -p "${HOME}/.kube"
            touch "${HOME}/.kube/config"
      - run:
          name: Install k3d
          command: |
            wget -q -O - https://raw.githubusercontent.com/rancher/k3d/v1.3.1/install.sh | bash
      - run:
          name: Install dependencies
          command: |
            dep ensure -v
      - save_cache:
          key: kms-vault-operator-golang-cache-{{ checksum "Gopkg.lock" }}
          paths:
            - /home/circleci/go/src/github.com/patoarvizu/kms-vault-operator/vendor
      - run:
          name: Run all tests
          command: |
            k3d create --publish 8200:8200 --image rancher/k3s:v0.7.0
            sleep 10
            export KUBECONFIG="$(k3d get-kubeconfig --name=k3s-default)"
            operator-sdk build patoarvizu/kms-vault-operator:latest
            k3d import-images patoarvizu/kms-vault-operator:latest
            kubectl apply -f test/manifests/vault/vault-external-service.yaml
            kubectl apply -f test/manifests/vault/vault-operator.yaml
            while [ "$(kubectl get deployment vault-operator -o jsonpath={.status.availableReplicas})" != "1" ]; do
              sleep 3
              kubectl get pods -l "name=vault-operator"
            done
            kubectl apply -f test/manifests/vault/vault-cluster-v1.yaml
            while [ "$(kubectl get statefulset vault -o jsonpath={.status.readyReplicas})" != "1" ]; do
              sleep 3
              kubectl get pods -l "app=vault" -l "kv_version=v1"
            done
            operator-sdk test local ./test/e2e/ --namespace "default" --global-manifest ./test/manifests/global/crd.yaml --namespaced-manifest ./test/manifests/namespaced/operator.yaml --go-test-flags '-v -run .*V1'
            kubectl delete -f test/manifests/vault/vault-cluster-v1.yaml
            kubectl apply -f test/manifests/vault/vault-cluster-v2.yaml
            while [ "$(kubectl get statefulset vault -o jsonpath={.status.readyReplicas})" != "1" ]; do
              sleep 3
              kubectl get pods -l "app=vault" -l "kv_version=v2"
            done
            operator-sdk test local ./test/e2e/ --namespace "default" --global-manifest ./test/manifests/global/crd.yaml --namespaced-manifest ./test/manifests/namespaced/operator.yaml --go-test-flags '-v -run .*V2'
      - run:
          name: Install notary
          command: |
            curl -L https://github.com/theupdateframework/notary/releases/download/v0.6.1/notary-Linux-amd64 -o notary
            chmod +x notary
            sudo mv notary /usr/local/bin
      - run:
          name: Build container
          command: |
            docker login --username $DOCKER_HUB_USER --password $DOCKER_HUB_ACCESS_TOKEN
            echo $ENCODED_NOTARY_ROLE_KEY | base64 -d > ${HOME}/kms-vault-operator-circleci.key
            export NOTARY_DELEGATION_PASSPHRASE=$NOTARY_ROLE_PASSPHRASE
            notary -s https://notary.docker.io -d ~/.docker/trust key import ${HOME}/kms-vault-operator-circleci.key --role kms-vault-operator-circleci
            export DOCKER_CONTENT_TRUST_REPOSITORY_PASSPHRASE=$NOTARY_DELEGATION_PASSPHRASE
            OPERATOR_BUILD_ARGS="--build-arg GIT_COMMIT=$CIRCLE_SHA1 --build-arg GIT_TAG=$CIRCLE_TAG --build-arg COMMIT_TIMESTAMP=$(git log -1 --format=%at) --build-arg AUTHOR_EMAIL=$(git log -1 --format=%ae) --build-arg SIGNATURE_KEY=$(git log -1 --format=%GK)"
            operator-sdk build patoarvizu/kms-vault-operator:$CIRCLE_SHA1 --docker-build-args "$OPERATOR_BUILD_ARGS"
            export DOCKER_CONTENT_TRUST=1
            VERSION=${CIRCLE_TAG:-latest}
            docker tag patoarvizu/kms-vault-operator:$CIRCLE_SHA1 patoarvizu/kms-vault-operator:latest
            docker tag patoarvizu/kms-vault-operator:$CIRCLE_SHA1 patoarvizu/kms-vault-operator:$VERSION
            docker push patoarvizu/kms-vault-operator:$CIRCLE_SHA1
            docker push patoarvizu/kms-vault-operator:$VERSION
            docker push patoarvizu/kms-vault-operator:latest
      - snyk/scan:
          docker-image-name: patoarvizu/kms-vault-operator:latest
          fail-on-issues: false
          project: patoarvizu/kms-vault-operator
          severity-threshold: low

workflows:
  version: 2
  build-operator:
    jobs:
      - build:
          context: authentication-tokens
          filters:
            tags:
              only: /^v\d+\.\d+.\d+$/